<form class="w-full max-w-sm">
  <div class="flex items-center md:border-b md:border-b-2 blue-light py-1">
    <input #latLong class="appearance-none bg-transparent border py-2 md:border-none w-full text-grey-darker mr-3 md:py-1 px-2 text-sm" type="text"
           placeholder="Latitude, Longitude" aria-label="Lat Long"
    >
    <button class="flex-no-shrink bg-cnd-blue hover:bg-cnd-blue-dark border-cnd-blue hover:border-cnd-blue-dark text-sm border-4 text-white py-1 px-2 rounded"
            type="button" (click)="findLocation(latLong.value)">
      Locate
    </button>
  </div>
</form>
