<div class="container">
    <!-- Sidebar -->
    <div [ngClass]="'expanded-search absolute'">
        <div class="flex flex-col z-10 bg-cnd-blue">
            <!-- Logo / Title -->
            <div class="text-grey-darker flex flex-grow text-center px-4 py-2 m-2 mb-0">
                <p class="p-0 text-center mx-auto font-sans font-semibold text-blue-darker">{{title}}</p>
            </div>

            <!-- Lat Long Search Box -->
            <div class="text-grey-darker flex flex-grow text-center sm:py-0 sm:m-0 md:px-4 md:py-2 md:m-0 mt-0">
                <p class="lat-long-inner pl-6 pr-6 rounded-sm">
                    <cnd-latlong-locate (latlongLocate)="onLatLongLocate($event)"></cnd-latlong-locate>
                </p>
            </div>

            <!-- Vehicle List -->
            <div class="bg-white">
                <div class="h-10 bg-cnd-blue-dark w-full"></div>
                <cnd-sidebar [vehicles]="vehiclesRender" (locateVehicle)="onLatLongLocate($event)"></cnd-sidebar>
            </div>
            
        </div>
    </div>

    <!-- Lunar Map -->
    <cnd-moon-map #cndMoonMap [dataPoints]="vehicles" [commandCentre]="commandCentre"></cnd-moon-map>
</div>


