<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="card">
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<div class="card">
  <img class="h-24 min-w-full block" src="https://pbs.twimg.com/profile_banners/130457262/1437142427/1500x500" />
  <div class="px-4 py-3 relative min-h-3">
    <div class="sm:flex sm:items-center">
      <img class="w-16 border-4 border-white border-white mr-3 rounded-full" src="https://pbs.twimg.com/profile_images/542412839533555712/5Wl60k5h_400x400.png" />
      <div class="w-full" data-controller="hello">
        <button class="float-right text-xs font-semibold rounded-full px-4 py-1 leading-normal bg-white border border-blue text-blue hover:bg-blue hover:text-white" data-action="click->hello#greet">Follow</button>
      </div>
    </div>
    <div class="mt-2 text-center sm:text-left sm:flex-grow">
      <div class="mb-4">
        <p class="text-xl font-bold leading-tight">Mr Blah Blah</p>
        <p class="text-sm leading-tight text-grey-dark">@MrBlahBlah</p>
      </div>
      <div>
        <p class="leading-tight text-grey-darkest text-sm">
          This is a profile card show how <a class="text-blue no-underline" href="https://tailwindcss.com">Tailwindcss</a> works. So far, I have to admit, it's looking pretty cool.
        </p>
        <p class="mt-6 text-xs text-grey-dark">
          Followed by <a class="text-blue no-underline" href="#">Google</a> and <a class="text-blue no-underline" href="#">5 others</a>.
        </p>
      </div>
    </div>
  </div>
</div>
