<div class="md:border md:m-6 mt-0 ml-0 md:rounded-lg bg-white md:shadow-lg md:max-w-xs md:overflow-hidden absolute z-10 m-2 w-full">
    <div class="flex flex-col z-10">
        <div class="text-grey-darker flex flex-grow text-center px-4 py-2 m-2 "><p class="p-0 text-center mx-auto font-sans font-semibold text-blue-darker">{{title}}</p></div>
        <div class="text-grey-darker flex flex-grow text-center sm:py-0 sm:m-0 md:px-4 md:py-2 md:m-2 mt-0"><p class="text-center mx-auto mt-0">
            <cnd-latlong-locate (latlongLocate)="onLatLongLocate($event)"></cnd-latlong-locate></p>
        </div>
        <cnd-sidebar [vehicles]="vehiclesRender" (locateVehicle)="onLatLongLocate($event)"></cnd-sidebar>
    </div>
</div>

<!--<div class="min-h-screen md:flex">-->
    <!--<div class="flex-none md:max-w-xs bg-white text-blue">-->
        <!--<cnd-sidebar [vehicles]="vehiclesRender" (locateVehicle)="onLatLongLocate($event)"></cnd-sidebar>-->
    <!--</div>-->
    <!--<div>-->
        <cnd-moon-map #cndMoonMap [dataPoints]="vehicles" [commandCentre]="commandCentre"></cnd-moon-map>
    <!--</div>-->
<!--</div>-->


